<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950753550172-njnk5tf48lveg9h3qfipqd7tjvb139in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950753550172-njnk5tf48lveg9h3qfipqd7tjvb139in</string>
	<key>API_KEY</key>
	<string>AIzaSyA7C3j1yXZZce7ASfsokkuT6s3cTqzY9a8</string>
	<key>GCM_SENDER_ID</key>
	<string>950753550172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.route</string>
	<key>PROJECT_ID</key>
	<string>swalk-270615</string>
	<key>STORAGE_BUCKET</key>
	<string>swalk-270615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950753550172:ios:f4115c165892f48240eb99</string>
	<key>DATABASE_URL</key>
	<string>https://swalk-270615.firebaseio.com</string>
</dict>
</plist>